body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: grey;
}

main {
    padding: 10px;
    width: 320px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid cyan;
    border-radius: 10px;
}

.screen {
    background-color: white;
    width: 320px;
    margin-bottom: 10px;
    height: 160px;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
}

h1, h2 {
    margin: 2px;
    white-space: nowrap;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(5, 75px);
    gap: 5px;
    justify-content: space-between;
}

#zero{
    grid-column-start: 1;
    grid-column-end: 3;
}